openapi: 3.1.0
info:
  title: Analytics & Insights Service API
  version: 1.0.0
  description: API for platform activity metrics and user contribution patterns.
servers:
  - url: https://api.dzinza.org/analytics
    description: Production server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UsageMetric:
      type: object
      properties:
        date:
          type: string
          format: date
        active_users:
          type: integer
        new_persons:
          type: integer
        new_relationships:
          type: integer
        verification_events:
          type: integer
    ContributorStat:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
        trust_score:
          type: number
          format: float
        contributions:
          type: integer
paths:
  /analytics/usage:
    get:
      summary: Get general platform usage metrics
      security:
        - BearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Usage metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UsageMetric"
        "400":
          description: Bad request (invalid parameters)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: No usage metrics found
        "500":
          description: Internal server error
  /analytics/top-contributors:
    get:
      summary: List top contributors
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: List of top contributors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContributorStat"
        "400":
          description: Bad request (invalid parameters)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: No contributors found
        "500":
          description: Internal server error
security:
  - BearerAuth: []
