openapi: 3.1.0
info:
  title: Audit & History Service API
  version: 1.0.0
  description: API for tracking create/update/delete actions for transparency and accountability.
servers:
  - url: https://api.dzinza.org/audit
    description: Production server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        entity_type:
          type: string
        entity_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        action:
          type: string
          enum: [CREATE, UPDATE, DELETE]
        timestamp:
          type: string
          format: date-time
        details:
          type: object
          additionalProperties: true
paths:
  /audit/logs:
    get:
      summary: Retrieve audit logs by entity type, entity ID, or user
      security:
        - BearerAuth: []
      parameters:
        - name: entity_type
          in: query
          schema:
            type: string
          description: Filter by entity type
        - name: entity_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by entity ID
        - name: user_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by user ID
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditLogEntry"
                  page:
                    type: integer
                  limit:
                    type: integer
                  total_records:
                    type: integer
                  total_pages:
                    type: integer
        "400":
          description: Bad request (invalid parameters)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: No audit logs found
        "500":
          description: Internal server error
security:
  - BearerAuth: []
