openapi: 3.1.0
info:
  title: Graph Query Service API
  version: 1.0.0
  description: API for deep traversal and reasoning over the family graph structure.
servers:
  - url: https://api.dzinza.org/graph
    description: Production server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GraphTraversalRequest:
      type: object
      properties:
        start_person_id:
          type: string
          format: uuid
        depth:
          type: integer
          minimum: 1
          maximum: 10
        direction:
          type: string
          enum: [ANCESTORS, DESCENDANTS, BOTH]
      required:
        - start_person_id
        - depth
        - direction
    GraphTraversalResult:
      type: object
      properties:
        nodes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              type:
                type: string
                enum: [PERSON, RELATIONSHIP]
        edges:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                format: uuid
              to:
                type: string
                format: uuid
              relationship_type:
                type: string
paths:
  /graph/traverse:
    post:
      summary: Traverse relationships from a person to a defined depth
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GraphTraversalRequest"
      responses:
        "200":
          description: Traversal result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphTraversalResult"
        "400":
          description: Bad request (invalid parameters)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: No traversal result found
        "500":
          description: Internal server error
security:
  - BearerAuth: []
