openapi: 3.1.0
info:
  title: Localization & Language Service API
  version: 1.0.0
  description: API for translation and localization of UI and data.
servers:
  - url: https://api.dzinza.org/localization
    description: Production server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    TranslationRequest:
      type: object
      properties:
        phrase:
          type: string
        target_language:
          type: string
        context:
          type: string
          nullable: true
      required:
        - phrase
        - target_language
    TranslationResponse:
      type: object
      properties:
        translated_phrase:
          type: string
        target_language:
          type: string
    CalendarSystem:
      type: object
      properties:
        name:
          type: string
        rules:
          type: object
          additionalProperties: true
    NameParsingRule:
      type: object
      properties:
        culture:
          type: string
        rules:
          type: object
          additionalProperties: true
paths:
  /localization/translate:
    get:
      summary: Translate phrases to target language
      security:
        - BearerAuth: []
      parameters:
        - name: phrase
          in: query
          schema:
            type: string
          required: true
        - name: target_language
          in: query
          schema:
            type: string
          required: true
        - name: context
          in: query
          schema:
            type: string
          required: false
      responses:
        "200":
          description: Translated phrase
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationResponse"
        "400":
          description: Bad request (invalid parameters)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: Translation not found
        "500":
          description: Internal server error
  /localization/calendar-systems:
    get:
      summary: List supported calendar systems
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of calendar systems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CalendarSystem"
        "400":
          description: Bad request
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: Calendar systems not found
        "500":
          description: Internal server error
  /localization/name-parsing-rules:
    get:
      summary: List name parsing rules by culture
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of name parsing rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NameParsingRule"
        "400":
          description: Bad request
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: Name parsing rules not found
        "500":
          description: Internal server error
security:
  - BearerAuth: []
