openapi: 3.1.0
info:
  title: Media Storage Service API
  version: 1.0.0
  description: API for managing uploads and associations of images, documents, and multimedia.
servers:
  - url: https://api.dzinza.org/media
    description: Production server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    MediaMetadata:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        person_id:
          type: string
          format: uuid
          nullable: true
        filename:
          type: string
        url:
          type: string
          format: uri
        uploaded_at:
          type: string
          format: date-time
        type:
          type: string
          enum: [IMAGE, DOCUMENT, VIDEO, AUDIO]
        description:
          type: string
          nullable: true
paths:
  /media/upload:
    post:
      summary: Upload media with optional person linkage
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                person_id:
                  type: string
                  format: uuid
                  nullable: true
                description:
                  type: string
                  nullable: true
      responses:
        "201":
          description: Media uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaMetadata"
        "400":
          description: Bad request (invalid file or parameters)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "500":
          description: Internal server error
  /media/{mediaId}:
    get:
      summary: Retrieve metadata about uploaded media
      security:
        - BearerAuth: []
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Media metadata found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaMetadata"
        "400":
          description: Bad request (invalid mediaId)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: Media not found
        "500":
          description: Internal server error
security:
  - BearerAuth: []
