openapi: 3.1.0
info:
  title: Search & Discovery Service API
  version: 1.0.0
  description: API for searching persons, branches, and historical entries in the genealogy platform.
servers:
  - url: https://api.dzinza.org/search
    description: Production server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    PersonSearchResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        birth_date:
          type: string
          format: date
        location:
          type: string
        tree_id:
          type: string
          format: uuid
        match_score:
          type: number
          format: float
paths:
  /search/person:
    get:
      summary: Search for persons by name, birth date, or location
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: Name or partial name to search
        - name: birth_date
          in: query
          schema:
            type: string
            format: date
          description: Birth date to filter
        - name: location
          in: query
          schema:
            type: string
          description: Location to filter
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of matching persons
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PersonSearchResult"
                  page:
                    type: integer
                  limit:
                    type: integer
                  total_records:
                    type: integer
                  total_pages:
                    type: integer
        "400":
          description: Bad request (invalid parameters)
        "401":
          description: Unauthorized (missing or invalid token)
        "403":
          description: Forbidden (insufficient permissions)
        "404":
          description: No matching persons found
        "500":
          description: Internal server error
security:
  - BearerAuth: []
